.top-bar {
  background-color: #434343;
}
.top-bar.ul {
  background-color: #434343;
}
.top-bar .menu-text {
  background-color: #434343;
  color: #fe2633;
  font-family: "Open Sans", sans-serif;
}
.top-bar a {
  background-color: #434343;
  color: #fff;
  font-family: "Open Sans", sans-serif;
}
