.top-bar {
  background-color: #434343;
}
@media only screen and (min-width: 20px) {
  .top-bar ul {
    background-color: #434343;
  }
}
.top-bar .menu-text {
  background-color: #434343;
  color: #fe2633;
  font-family: "Open Sans", sans-serif;
}
.top-bar a {
  background-color: #434343;
  color: #fff;
  font-family: "Open Sans", sans-serif;
}

input {
  background: transparent;
  border-top: transparent !important;
  border-left: transparent !important;
  border-right: transparent !important;
  border-bottom: 4px solid #434343 !important;
  font-weight: 200;
  color: white;
  padding-left: 0;
  box-shadow: none !important;
}

[type="text"] {
  height: 6rem;
  padding: .5rem;
  margin: 2rem 0 1rem;
  font-family: "Open Sans", sans-serif;
  font-size: 3.5rem;
}

p {
  text-align: center;
  padding: 3rem 1rem;
  font-size: 1.2rem;
  font-family: "Bitter", serif;
}

img {
  width: 25px;
  height: 25px;
}
img.markComplete {
  cursor: pointer;
}

.strike {
  text-decoration: line-through;
}

td {
  text-align: center;
}
td a {
  color: #434343;
}

td,
th {
  color: #434343;
}

.small {
  font-size: smaller;
  color: #fe2633;
}

.allDone {
  color: #fe2633;
}

.open,
.complete {
  font-size: 1.5rem;
  padding: 1rem 0 0.5rem;
  font-family: "Open Sans", sans-serif;
}

.open {
  color: #fe2633;
}

.complete {
  color: #5fcf80;
  margin-top: 3rem;
}
