header {
  margin-top: 1.5rem;
  color: #434343;
  text-align: center;
}
header h1 {
  font-family: "Bitter", serif;
}
header h1 span {
  color: #fe2633;
}
header h4 {
  font-family: "Open Sans", sans-serif;
  font-style: italic;
  position: relative;
  top: -0.6rem;
}

p {
  font-family: "Bitter", serif;
  color: #434343;
  text-align: center;
  padding-top: 1rem;
}

a {
  color: #fe2633;
}
a:hover {
  text-decoration: underline;
  color: #fff;
}

label,
.help-text {
  color: #434343;
  font-family: "Open Sans", sans-serif;
}

.help-text {
  text-align: left;
  margin-top: -1rem;
}
